@import 'variables';

@function grid-min($name, $breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint($name, $breakpoints: $grid-media-breakpoints) {
  $min: grid-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin sm {
  @include media-breakpoint(sm) {
    @content;
  }
}

@mixin md {
  @include media-breakpoint(md) {
    @content;
  }
}

@mixin lg {
  @include media-breakpoint(lg) {
    @content;
  }
}

@mixin xl {
  @include media-breakpoint(xl) {
    @content;
  }
}

@mixin xxl {
  @include media-breakpoint(xxl) {
    @content;
  }
}

@mixin fhd {
  @include media-breakpoint(fhd) {
    @content;
  }
}

@mixin svgStyles($src) {
  min-width: 20px;
  min-height: 20px;
  background-color: $color-primary;
  mask: url($src) center / contain no-repeat;
  @content;
}
