@import './variables';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  list-style: none;

  .arrow {
    background: #313131 url("../images/dest/pager-arrow.svg") center no-repeat;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    border-radius: 50%;
    opacity: 1 !important;

    @media (max-width: 1280px) {
      width: 26px;
      height: 26px;
      background-size: 10px;
    }

    &.next {
      transform: rotate(180deg);
    }
  }

  .page {
    padding: 15px;
    color: #000;
    opacity: 0.5;
    font-size: 24px;

    @media (max-width: 1280px) {
      padding: 10px;
      font-size: 20px;
    }

    &.selected {
      opacity: 1;
    }
  }
}



