$grid-media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1560px,
  fhd: 1920px
);

/*COLORS*/
$color-primary: #eb6012;
$color-primary-2: #ee6a20;
$color-secondary: #b63005;
$color-third: #babdcc;
$text-color-primary: #000;
$text-color-secondary: #282828;
$color-alt: black;
$color-red: #e63323;
$color-yellow: #ffda00;
$color-grey: #a9acaf;
$grey: #e0e0e0;
$grey-light: #f3f4f6;
$grey-medium: #4e5965;
$grey-medium: #a9acaf;
$grey-dark: #676a7c;
$white: #ffffff;
$color-light-blue: #e7f6ff;
$color-light-grey: #9d9d9d;

// shadows
$shadow-params: 0 17px 40px 0;
$shadow-params-alt: 0 7px 24px 0;
$shadow-params-alt-mobile: 0 7px 14px 0;
$shadow-text: 2px 2px 3px rgba(0, 0, 0, 0.36);

// font
$font-main: Inter;
$font-secondary: RussoOne;
$font-third: Ruberoid;

$font: $font-main, 'Open Sans';
$font2: $font-secondary, 'Open Sans';
$font3: $font-third, 'Open Sans';

$font-color: $color-alt;
$font-color-secondary: $color-secondary;
$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;
$font-size: 16px;
$font-line-height-lg: 1.75;
$font-line-height: normal;
$font-line-height-md: 1.25;
$font-line-height-sm: 1;

// color-link
$link-color: $color-primary;
$link-color-secondary: $color-primary;
$link-color-hover: $color-secondary;

// border
$border-width-light: 1px;
$border-width-regular: 3px;
$border-width-bold: 5px;
$border-style: solid;
$border-color: $color-primary;
$border-color-secondary: $color-secondary;
$border: $border-width-light $border-style $border-color;
$border-secondary: $border-width-light $border-style $border-color-secondary;
